* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db) !important;
}

.columnsContainer {
    position: relative;
    margin: 2em 4.5em;
}

.leftColumn,
.rightColumn {
    border: 1px solid #ced6e0;
    height:85vh;
    background: #ffffff;
    overflow: scroll;
}

.leftColumn {
    height:60vh;
}

.columnInterior {
    padding: 1.25em;
}

/* mobile */
@media screen and (min-width: 47.5em) {
    .leftColumn,
    .chatFormContainer {
        margin-right: 19.5em;
    }

    .rightColumn {
        position: absolute;
        top: 0;
        right: 0;
        width: 18.75em;
    }
}

.chatFormContainer {
    border: 1px solid #ced6e0;
    border-top: none;
    height:25vh; 
    position: relative;
    background: #ffffff;
}
    
form#chatMessageForm {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#editor {
    width:100%;
    position: relative;
}

.image-upload > input {
    display: none;
}

.image-upload img {
    width: 80px;
    cursor: pointer;
}

#editor li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    padding: 2px;
}   

textarea {
    resize: none;
}

form#chatMessageForm textarea {
    width: 100%;
    height: auto;
    position: relative;
    border: 1px solid #efefef;
    margin:12px 0 12px 0;
    font-size: 12px;
    line-height:1.4;
}

form#chatMessageForm button {
    border: 1px solid #ced6e0;
    background: transparent;
    padding: 8px;
}

#messages,
#userList {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
  
}

#messages li,
#userList li {
    width: 100%;
    display: inline-block; 
    list-style-type: none; 
   
}

/* private message li */
li.active {
    border: 1px solid #ccc;
    border-bottom: none;
}

.content {
    display: none;
    opacity: 0;
    border: 1px solid #ccc;
    width: 200px;
    height: 100px;
    -webkit-animation: display-none-transition 1s ease;
    animation: display-none-transition 1s ease;
}

@keyframes display-none-transition {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes display-none-transition {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
    }

    100% {
        opacity: 1;
    }
}

.content-section .active {
    display: block;
    opacity: 1;
}

#tabs ul {
    margin-bottom: 10px;
    padding: 0;
}

#tabs li {
    list-style: none;
    display: inline-block;
    width: 50px;
    margin-right: -4px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    height: 100%;
    width: 100%;
}

#privatemessageModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    height: 100%;
    width: 100%;
}

.modalcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 40%;
    padding: 45px;
}

img.avatar {
    height:12px; 
    width:12px;
}


/* chat list items */ 
.genericChatLi,
.isTypingLi {
    text-align: center;
    color: #535c68;
    opacity: .7;
}

.isTypingLi {
    text-align: left;
}

.otherChatLi {
    color: black; 
    float:left;
    padding:12px;
    background:  #a0cea7;
}

.selfChatLi {
    color: black;
    float: right;
    padding:12px;
    background: #9ec0db;
}

.userListLi {
    color: black;
}

